.c1 {
    color:rgb(81, 5, 152);
    display: flex;
    flex-direction: row;
    align-items: center;    
    margin: 8px;
}

.c2 {
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.c3 {
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    padding: 16px;
}
.c6 {
    margin-left: auto;
    display: flex;
    justify-content: row;
    align-content: center;
    align-items: center;
}
.c4 {
    background-color: rgb(81, 5, 152);
    color: white;
    text-align: center;
    padding: 10px 30px;
    border-radius: 10px;
}

.c5 {
    background-color: rgb(81, 5, 152);
    padding: 30px;
    border-radius: 50px;
    margin: 8px;
}



a {
    text-decoration: none;
}
